.login {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f8ff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .login label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .login input[type='text'],
  .login input[type='email'],
  .login input[type='bussinessname'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .login input[type='tel'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }

  .login button[type='submit'] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .login button[type='submit']:hover {
    background-color: #0056b3;
  }
 
.login select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

  .error {
    color: red;
    background-color: #f0f8ff; 
    padding: 5px;
    margin-top: 5px;
    border-radius: 3px;
  }  

  .custom-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color:black;
    /* Add any additional styling here */
  }
  
  